.title.large-text Collaborate - Deploy - Scale
#command-line.container.black.cli
  :javascript
    $(function(){
      $(window).load(function(){
        $(".element").typed({
          strings: ["$ git push heroku master", "$ heroku logs --tail", "$ heroku run rails console", "$ heroku config", "$ Heroku helps you build amazing things.." ],
          typeSpeed: 30
        });
      })
    });
  .element

.title.small-text From hobbyists to enterprise, developers have chosen to deploy more than 4 million web applications with Heroku

.btn-wrapper
  %a{href: "https://signup.heroku.com/www-home-top"}
    .start-button.signup-btn
      .btn-title Get Started

.container.light
  light
.container.dark
  dark
.container.light
  light