/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	background-color: #3B2F63;	
  margin: 50px;
  float: left;
}
.container {
	position: relative;
	float: left;
  width: 100%;
}
.footer-wrapper {
	height: 150px;
	float: left;
	width: 100%;
}

.logo-wrapper {
	text-align: center;
	float: left;
	width: 100%;
}
.dark {
	background-color: #3B2F63;
}

.light {
	background-color: #F8F8F8;
}

.outbound-link {
	text-decoration: none;
	color: #3B2F63;
}

.outbound-link:hover{
	opacity: 0.6;
};

#header-container {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

#header-container img {
	max-width: 100px;
	margin: 20px;
}

.left-half {
  text-align: center;
  margin-top: 50px;
  width: 30%;
  float: left;
  margin-left: 10%;
}

.right-half {
	text-align: center;
	margin-top: 50px;
	width: 50%;
	float: right;
}

.third {
	text-align: center;
	margin-top: 50px;
  width: 25%;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
}

.text {
	font-family: 'benton-sans','Helvetica Neue',helvetica,arial,sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #000;
	font-size: 1.8em;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
}

.copy {
	font-family: 'benton-sans','Helvetica Neue',helvetica,arial,sans-serif;
	color: #000;
	font-size: 1em;

	-webkit-font-smoothing: antialiased;
}

.text-large {
	font-size: 2.8em;
}

.copy-large {
	font-size: 1.5em;
	font-weight: 200 !important;
	opacity: 0.65;
}

.element {
	font-size: 30px;
}

.typed-cursor{
  opacity: 0;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.title {
  font-family: 'benton-sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 100%;
  position: relative;
  float: left;
}

.worries {
  font-family: 'benton-sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 100%;
  font-size: 30px;
  position: relative;
}

.item {
	font-style: italic;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
}

.no-padding {
	padding-bottom: 0px !important;
}

.large-text {
	font-size: 50px;
	letter-spacing: 3px;
	margin-top: 50px;
  margin-bottom: 50px;
	font-weight: 100;

}
.small-text {
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 26px;
	letter-spacing: 1px;
	font-style: italic;
	width: 80%;
	margin: 0 auto;
	line-height: 50px;
	font-weight: 300;
	float: none;
}

.cli {
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  color: lime;
}
#command-line {

	position: relative;
	width: 100%;
	margin: 0 auto;
	float: none;
	text-align: center;
	padding-top: 50px;
	height: 25px;
	padding-bottom: 50px;

}




.start-button {
  position: relative;
  background: #8978c0;
  width: 400px;
  height: 100px;
  display: inline-block;
  border-radius: 30px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  border: none;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;
  -o-text-overflow: clip;
  text-overflow: clip;

  background: $advlo_orange;
  -webkit-box-shadow: 0 5px 0 0 #6e5baa;
  box-shadow: 0 5px 0 0 #6e5baa;

  text-shadow: 0 1px 1px rgba(87,151,180,0.36) ;
  -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);


  .title {
    color: #fff;
    text-align: center;
    font-size: 29px;
    margin-top: 11%;
    font-family: bebas_neue;
    text-shadow: -1px -1px grey;
    line-height: 33px;
    letter-spacing: 5px;
  }
}


.start-button:hover {
  background: #6E5BAA;
  -webkit-box-shadow: #6e5baa;
  box-shadow: 0 5px 0 0 #5f467e;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.start-button:active {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 0 #6e5baa;
  box-shadow: 0 3px 0 0 #6e5baa;
}

.start-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.btn-wrapper {
  margin-top: 30px;
  position: relative; 
  width: 100%;
  text-align: center;
  margin-bottom: 75px;
  float:left;
}

.btn-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 31px;
  text-transform: capitalize;
  font-weight: 100;
  letter-spacing: 3px;
}

.feature-brick {
	width: 50%;
	float: left;
	font-size: 20px;
	height: 100px;
}

.black {
	color: #000;
	font-weight: 100;	
}

.client-wrapper {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;
}

.client {
	width: 15%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.top {
  margin-top: 50px;
}

.client img {
	width: 100%;
}

.logo-wrapper .left  {
	color: #fff;
	position: relative;
	top: -33px;
	left: -15px;
	display: inline;
}
.logo-wrapper .right  {
	color: #fff;
	position: relative;
	top: -33px;
	right: -15px;
	display: inline;
}


@media screen and (max-width: 675px){
	.client {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		float: none
	}

	.third {
	  text-align: center;
	  width: 100%;
	  margin: 0;
	  margin-bottom: 100px;
	}
}